{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<div class="header"><a href="/videoserver/"><img src={% static 'images/logo.png' %}></a></div>
<div class="left-sidebar">
    <ul>
    {% for i in menu %}
        <li><a href="/videoserver/?cat={{ i.url }}">{{ i.name }}</a></li>
    {% endfor %}
    </ul>
</div>
<div class="content">
    <form name="edit" method="post" action="/videoserver/update/?action=update&cat={{ url }}">
        {% csrf_token %}
        {% if url == 'job' %}
            <input type="hidden" name="job_id" value="{{ job.id }}">
            <table class="table_2">
                <tr><th>ID</th><td>{{ job.id }}</td>
                <tr><th>Название камеры</th><td><input class="select" type="text" name="name" value="{{ job.name }}"></td>
                <tr><th>Видеосервер</th><td><input class="select" type="text"  name="videoserver" value="{{ job.videoserver }}"></td>
                <tr><th>Видеоисточник</th><td>
                    <select class="select" name="video_source_id">
                        {% for i in video_source %}
                            <option value="{{ i.id }}">{{ i.url }}</option>
                        {% endfor %}
                    </select></td>
                <tr><th>Командная строка</th><td>
                    <select class="select" name="command_line_id">
                    {% for i in command_line %}
                        <option value="{{ i.id }}">{{ i.value }}</option>
                    {% endfor %}
                    </select></td>
                <tr><th>Время записи</th><td><input class="select" type="text" name="record_time" value="{{ job.record_time }}"></td>
                <tr><th>Время перехлеста</th><td><input class="select" type="text" name="intersection" value="{{ job.intersection }}"></td>
                <tr><th>Перекодирование</th><td><input class="select" type="text" name="transcode" value="{{ job.transcode }}"></td>
                <tr><th>Расписание</th><td>
                    <select class="select" name="schedule_id">
                    {% for i in schedule %}
                        <option value="{{ i.id }}">{{ i.calendar }}</option>
                    {% endfor %}
                    </select></td>
                <tr><th>Способ хранения</th><td>
                    <select class="select" name="storage_id">
                    {% for i in storage %}
                        <option value="{{ i.id }}">{{ i.size }}</option>
                    {% endfor %}
                    </select></td>
                    {% if job.active == 0 %}
                        <tr><th><input type="radio" name="active" value="1">Включена</th>
                        <tr><th><input type="radio" name="active" value="0" checked>Выключена</th>
                    {% else %}
                        <tr><th><input type="radio" name="active" value="1" checked >Включена</th>
                        <tr><th><input type="radio" name="active" value="0">Выключена</th>
                    {% endif %}
            </table>
        {% endif %}
        {% if url == 'drive' %}
            <input type="hidden" name="drive_id" value="{{ drive.id }}">
            <table class="table_2">
                <tr><th>Видеосервер</th><td><input class="select" type="text" name="videoserver" value="{{ drive.videoserver }}"></td>
                <tr><th>Путь</th><td><input class="select" type="text"  name="path" value="{{ drive.path }}"></td>
                <tr><th>Минимальный размер свободного пространства %</th><td><input type="text" class="select" name="min_free_space_percent" value="{{ drive.min_free_space_percent }}"></td>
                    {% if drive.active == 0 %}
                        <tr><th><input type="radio" name="active" value="1">Включена</th>
                        <tr><th><input type="radio" name="active" value="0" checked>Выключена</th>
                    {% else %}
                        <tr><th><input type="radio" name="active" value="1" checked >Включена</th>
                        <tr><th><input type="radio" name="active" value="0">Выключена</th>
                    {% endif %}
            </table>
        {% endif %}
        {% if url == 'backup' %}
            <input type="hidden" name="backup_id" value="{{ backup.id }}">
            <table class="table_2">
                <tr><th>Видеосервер</th><td><input class="select" type="text" name="videoserver" value="{{ backup.videoserver }}"></td>
                <tr><th>Путь</th><td><input class="select" type="text"  name="path" value="{{ backup.path }}"></td>
                <tr><th>Минимальный размер свободного пространства %</th><td><input type="text" class="select" name="min_free_space_percent" value="{{ backup.min_free_space_percent }}"></td>
                    {% if backup.active == 0 %}
                        <tr><th><input type="radio" name="active" value="1">Включена</th>
                        <tr><th><input type="radio" name="active" value="0" checked>Выключена</th>
                    {% else %}
                        <tr><th><input type="radio" name="active" value="1" checked >Включена</th>
                        <tr><th><input type="radio" name="active" value="0">Выключена</th>
                    {% endif %}
            </table>
        {% endif %}
        {% if url == 'video_source' %}
            <input type="hidden" name="video_source_id" value="{{ video_source.id }}">
            <table class="table_2">
                <tr><th>URL</th><td><input class="select" type="text" name="url" value="{{ video_source.url }}"></td>
                <tr><th>Опции</th><td><input class="select" type="text"  name="options" value="{{ video_source.options }}"></td>
            </table>
        {% endif %}
        {% if url == 'schedule' %}
            <input type="hidden" name="schedule_id" value = "{{ schedule.id }}">
            <table class="table_2">
                <tr><th>Календарь</th><td><input class="select" type="text" name="calendar" value="{{ schedule.calendar }}"></td>
                <tr><th>Дни недели</th><td><input class="select" type="text"  name="week_days" value="{{ schedule.week_days }}"></td>
                <tr><th>Сутки</th><td><input class="select" type="text"  name="hours" value="{{ schedule.hours }}"></td>
                <tr><th>Запись по событиям До</th><td><input class="select" type="text"  name="event_second_before" value="{{ schedule.event_second_before }}"></td>
                <tr><th>Запись по событиям После</th><td><input class="select" type="text"  name="event_second_after" value="{{ schedule.event_second_after }}"></td>
            </table>
        {% endif %}
        {% if url == 'storage' %}
            <input type="hidden" name="storage_id" value = "{{ storage.id }}">
            <table class="table_2">
                <tr><th>Размер оперативного архива в сутках	</th><td><input class="select" type="text" name="size" value="{{ storage.size }}"></td>
                <tr><th>+ часов</th><td><input class="select" type="text"  name="size_add_hours" value="{{ storage.size_add_hours }}"></td>
                <tr><th>Переносить в архив длительного хранения</th><td><input class="select" type="text"  name="backup" value="{{ storage.backup }}"></td>
                <tr><th>Размер архива длительного хранения</th><td><input class="select" type="text"  name="backup_size" value="{{ storage.backup_size }}"></td>
            </table>
        {% endif %}
        {% if url == 'command_line' %}
            <input type="hidden" name="command_line_id" value = "{{ command_line.id }}">
            <table class="table_2">
                <tr><th>Командная строка</th><td><input class="select" type="text" name="value" value="{{ command_line.value }}"></td>
            </table>
        {% endif %}
            <input class="button24" type="submit" name="commit" value="Сохранить">
        </form>
</div>
</body>
</html>